{% section 'top-header' %}
<a name="pagecontent" id="pagecontent"></a>
<div class="container-wrap">
    <div class="container main-content">
        <div class="row">
            <div id="fws_592d2ae037dac" data-midnight="dark" data-bg-mobile-hidden=""
                 class="wpb_row vc_row-fluid vc_row full-width-section standard_section  home-make-impact "
                 style="padding-top: 60px; padding-bottom: 60px; ">
                <div class="row-bg-wrap">
                    <div class="row-bg  using-bg-color  " style="background-color: #ffffff; " data-color_overlay=""
                         data-color_overlay_2="" data-gradient_direction="" data-overlay_strength="0.3"
                         data-enable_gradient="false"></div>
                </div>
                <div class="col span_12 dark center">
                    <div style=""
                         class="vc_col-sm-12 wpb_column column_container vc_column_container col has-animation padding-2-percent"
                         data-using-bg="true" data-bg-cover="" data-padding-pos="left-right" data-has-bg-color="true"
                         data-bg-color="#ffffff" data-bg-opacity="1" data-hover-bg="#ffffff" data-hover-bg-opacity="1"
                         data-animation="fade-in-from-bottom" data-delay="0">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">

                                <div id="fws_592d2ae039444" data-midnight="" data-bg-mobile-hidden=""
                                     class="wpb_row vc_row-fluid vc_row  vc_row-o-equal-height vc_row-flex standard_section   "
                                     style="padding-top: 0px; padding-bottom: 0px; ">
                                    <div class="row-bg-wrap">
                                        <div class="row-bg   " style=""></div>
                                    </div>
                                    <div class="col span_12  left">
                                        <div class="vc_col-sm-2 wpb_column column_container vc_column_container col no-extra-padding"
                                             data-bg-cover="" data-padding-pos="all" data-has-bg-color="false"
                                             data-bg-color="" data-bg-opacity="1" data-hover-bg=""
                                             data-hover-bg-opacity="1" data-animation="" data-delay="0">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <img src="{{ 'icon-txt-soy-and-diary-free.jpg' | file_url }}">
                                                            <p><img class="aligncenter wp-image-15139" src="{{ 'icon-txt-soy-and-diary-free.jpg' | file_url }}" width="100" height="100" srcset="{{ 'icon-txt-soy-and-diary-free.jpg' | file_url }} 150w, {{ 'icon-txt-soy-and-diary-free.jpg' | file_url }} 300w, {{ 'icon-txt-soy-and-diary-free.jpg' | file_url }} 50w, {{ 'icon-txt-soy-and-diary-free.jpg' | file_url }} 100w, {{ 'icon-txt-soy-and-diary-free.jpg' | file_url }} 500w, {{ 'icon-txt-soy-and-diary-free.jpg' | file_url }} 130w, {{ 'icon-txt-soy-and-diary-free.jpg' | file_url }} 512w" sizes="(max-width: 100px) 100vw, 100px"/></p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="vc_col-sm-2 wpb_column column_container vc_column_container col no-extra-padding"
                                             data-bg-cover="" data-padding-pos="all" data-has-bg-color="false"
                                             data-bg-color="" data-bg-opacity="1" data-hover-bg=""
                                             data-hover-bg-opacity="1" data-animation="" data-delay="0">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p><img class="aligncenter wp-image-15140"
                                                                    src="{{ 'Ingredients-copy.png' | asset_url }}"
                                                                    width="100" height="100"
                                                                    srcset="{{ 'Ingredients-copy.png' | asset_url }} 150w, {{ 'Ingredients-copy.png' | asset_url }} 300w, {{ 'Ingredients-copy.png' | asset_url }} 50w, {{ 'Ingredients-copy.png' | asset_url }} 100w, {{ 'Ingredients-copy.png' | asset_url }} 500w,{{ 'Ingredients-copy.png' | asset_url }} 130w, {{ 'Ingredients-copy.png' | asset_url }} 512w"
                                                                    sizes="(max-width: 100px) 100vw, 100px"/></p>
                                                        </div>
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p style="text-align: center;"><strong>NOTHING
                                                                    ARTIFICIAL</strong></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vc_col-sm-2 wpb_column column_container vc_column_container col no-extra-padding"
                                             data-bg-cover="" data-padding-pos="all" data-has-bg-color="false"
                                             data-bg-color="" data-bg-opacity="1" data-hover-bg=""
                                             data-hover-bg-opacity="1" data-animation="" data-delay="0">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p><img class="aligncenter wp-image-15141"
                                                                    src="{{ 'herbal-spa-treatment-leaves-copy.png' | img-url:'medium' | file_url }}"
                                                                    width="100" height="100"
                                                                    srcset="{{ 'herbal-spa-treatment-leaves-copy.png' | img-url:'150x' | file_url }} 150w, {{ 'herbal-spa-treatment-leaves-copy.png' | img-url:'50x' | file_url }} 50w, {{ 'herbal-spa-treatment-leaves-copy.png' | img-url:'100x' | file_url }} 100w, {{ 'herbal-spa-treatment-leaves-copy.png' | img-url:'130x' | file_url }} 130w, {{ 'herbal-spa-treatment-leaves-copy.png' | img-url:'256x' | file_url }} 256w"
                                                                    sizes="(max-width: 100px) 100vw, 100px"/></p>
                                                        </div>
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p style="text-align: center;"><strong>PLANT-BASED</strong>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vc_col-sm-2 wpb_column column_container vc_column_container col no-extra-padding"
                                             data-bg-cover="" data-padding-pos="all" data-has-bg-color="false"
                                             data-bg-color="" data-bg-opacity="1" data-hover-bg=""
                                             data-hover-bg-opacity="1" data-animation="" data-delay="0">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p><img class="aligncenter wp-image-15142"
                                                                    src="{{ 'molecules-hexagonal-shapes-copy.png' | file_url }}"
                                                                    width="100" height="100"
                                                                    srcset="{{ 'molecules-hexagonal-shapes-copy.png' | file_url }} 150w, {{ 'molecules-hexagonal-shapes-copy.png' | file_url }} 300w, {{ 'molecules-hexagonal-shapes-copy.png' | file_url }} 50w, {{ 'molecules-hexagonal-shapes-copy.png' | file_url }} 100w, {{ 'molecules-hexagonal-shapes-copy.png' | file_url }} 500w, {{ 'molecules-hexagonal-shapes-copy.png' | file_url }} 130w, {{ 'molecules-hexagonal-shapes-copy.png' | file_url }} 512w"
                                                                    sizes="(max-width: 100px) 100vw, 100px"/></p>
                                                        </div>
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p style="text-align: center;"><strong>BIOAVAILABLE</strong>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vc_col-sm-2 wpb_column column_container vc_column_container col no-extra-padding"
                                             data-bg-cover="" data-padding-pos="all" data-has-bg-color="false"
                                             data-bg-color="" data-bg-opacity="1" data-hover-bg=""
                                             data-hover-bg-opacity="1" data-animation="" data-delay="0">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p><img class="aligncenter wp-image-15143"
                                                                    src="{{ 'Ingredients-2-copy.png' | file_url }}"
                                                                    width="100" height="100"
                                                                    srcset="{{ 'Ingredients-2-copy.png' | file_url }} 150w, {{ 'Ingredients-2-copy.png' | file_url }} 300w, {{ 'Ingredients-2-copy.png' | file_url }} 50w, {{ 'Ingredients-2-copy.png' | file_url }} 100w, {{ 'Ingredients-2-copy.png' | file_url }} 500w, {{ 'Ingredients-2-copy.png' | file_url }} 130w, {{ 'Ingredients-2-copy.png' | file_url }} 512w"
                                                                    sizes="(max-width: 100px) 100vw, 100px"/></p>
                                                        </div>
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p style="text-align: center;"><strong>NON GMO</strong></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vc_col-sm-2 wpb_column column_container vc_column_container col no-extra-padding"
                                             data-bg-cover="" data-padding-pos="all" data-has-bg-color="false"
                                             data-bg-color="" data-bg-opacity="1" data-hover-bg=""
                                             data-hover-bg-opacity="1" data-animation="" data-delay="0">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p><img class="aligncenter wp-image-15144"
                                                                    src="{{ 'united-states-copy.png' | file_url }}"
                                                                    width="100" height="100"
                                                                    srcset="{{ 'united-states-copy.png' | file_url }} 150w, {{ 'united-states-copy.png' | file_url }} 300w, {{ 'united-states-copy.png' | file_url }} 50w, {{ 'united-states-copy.png' | file_url }} 100w, {{ 'united-states-copy.png' | file_url }} 500w, {{ 'united-states-copy.png' | file_url }} 130w, {{ 'united-states-copy.png' | file_url }} 512w"
                                                                    sizes="(max-width: 100px) 100vw, 100px"/></p>
                                                        </div>
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p style="text-align: center;"><strong>MADE IN THE
                                                                    U.S.A.</strong></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- LYFE INGREDIENTS SUPERFOODS -->
{% section 'lyfe-ingredients-superfoods' %}
<!-- END LYFE INGREDIENTS SUPERFOODS -->

<!-- LYFE TRANSFORMATION PROGRAM -->
{% section 'lyfe-transformation-program' %}
<!-- END LYFE TRANSFORMATION PROGRAM -->

<!-- LYFE EXPERIENCE -->
{% section 'lyfe-experience' %}
<!-- END LYFE EXPERIENCE -->

<!-- LYFE EXPERIENCE -->
{% section 'lyfe-fuel-mission' %}
<!-- END LYFE EXPERIENCE -->

<!-- TAKE PART IN THE MOVEMENT -->
{% section 'take-part-movement' %}
<!-- END TAKE PART IN THE MOVEMENT -->

<!-- READY TO LIVE -->
{% section 'ready-to-live' %}
<!-- END READY TO LIVE -->

{% comment %}
,
navigation: {
keyboardNavigation:"off",
keyboard_direction: "horizontal",
mouseScrollNavigation:"off",
mouseScrollReverse:"default",
onHoverStop:"off",
arrows: {
style:"zeus",
enable:true,
hide_onmobile:false,
hide_onleave:true,
hide_delay:200,
hide_delay_mobile:1200,
tmp:'
<div class="tp-title-wrap">
    <div class="tp-arr-imgholder"></div>
</div>',
left: {
h_align:"left",
v_align:"center",
h_offset:20,
v_offset:0
},
right: {
h_align:"right",
v_align:"center",
h_offset:20,
v_offset:0
}
}
}
{% endcomment %}