<a name="pagecontent" id="pagecontent"></a>
<div id="page-header-wrap" data-animate-in-effect="none" data-midnight="light" class="" style="height: 500px;"> <div class=" " data-animate-in-effect="none" id="page-header-bg" data-midnight="light" data-text-effect="rotate_in" data-bg-pos="center" data-alignment="center" data-alignment-v="middle" data-parallax="0" data-height="500" style="background-color: #000;  height: 500px;">
<div class="page-header-bg-image" style="background-image: url({{ 'HealthPrograms4.jpg' | asset_url }});"></div>
<div class="container">
<div class="row">
<div class="col span_6">
<div class="inner-wrap">
<h1>Health + Fitness</h1>
<span class="subheader">Try one of our 21 day programs to optimize your LYFE!</span>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="container-wrap" style="padding-top:0 !important;">
<div class="container main-content">
<div class="row">
<div id="fws_592d6b7ec2d4c" data-midnight="light" data-bg-mobile-hidden="" class="wpb_row vc_row-fluid vc_row full-width-content  vc_row-o-equal-height vc_row-flex standard_section vertically-align-columns text-white " style="padding-top: 0px; padding-bottom: 0px; "><div class="row-bg-wrap"> <div class="row-bg    " style="" data-color_overlay="" data-color_overlay_2="" data-gradient_direction="" data-overlay_strength="0.3" data-enable_gradient="false"></div> </div><div class="col span_12 light left">
<div style=" background-image: url({{ 'HealthProgram.jpg' | asset_url }}); margin-top: 0.5%; " class="vc_col-sm-6 wpb_column column_container vc_column_container col has-animation padding-4-percent" data-using-bg="true" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="flip-in" data-delay="0">
<div class="vc_column-inner">
<div class="wpb_wrapper">
<div id="fws_592d6b7ec3e78" data-midnight="" data-bg-mobile-hidden="" class="wpb_row vc_row-fluid vc_row  vc_row-o-content-middle standard_section   " style="padding-top: 8%; padding-bottom: 0px; "><div class="row-bg-wrap"> <div class="row-bg   " style=""></div> </div><div class="col span_12  left">
<div class="vc_col-sm-12 wpb_column column_container vc_column_container col has-animation no-extra-padding" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="fade-in-from-left" data-delay="500">
<div class="vc_column-inner">
<div class="wpb_wrapper">
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<h6 style="text-align: left;"><span style="color: #ffffff;">LYFE Transformation Program</span></h6>
<p>&nbsp;</p>
<p style="text-align: left;">ELIMINATE • CLEANSE • RESTORE</p>
<p>• Beautiful easy-to-read 21-day manual<br/>
• Support: E-mail / phone support and a personal Lyfe coach<br/>
• Three refreshing phases<br/>
• Daily meal plans<br/>
• A NEW AND IMPROVED YOU!</p>
<p style="text-align: left;"><a class="nectar-button medium see-through-2 has-icon" target="_blank" href="https://lyfefuel-main.myshopify.com/products/21-day-lyfe-transformation-manual" data-color-override="false" data-hover-color-override="false" data-hover-text-color-override="#fff"><span>START YOUR JOURNEY</span><i class="fa-heartbeat"></i></a></p>
</div>
</div>
</div>
</div>
</div>
</div></div>
</div>
</div>
</div>
<div style=" background-image: url({{ 'ExerciseProgram.jpg' | asset_url }});  color: #ffffff;margin-top: 0.5%; " class="vc_col-sm-6 wpb_column column_container vc_column_container col has-animation padding-4-percent" data-using-bg="true" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="flip-in" data-delay="0">
<div class="vc_column-inner">
<div class="wpb_wrapper">
<div id="fws_592d6b7ec5c53" data-midnight="" data-bg-mobile-hidden="" class="wpb_row vc_row-fluid vc_row  vc_row-o-content-middle standard_section   " style="padding-top: 8%; padding-bottom: 0px; "><div class="row-bg-wrap"> <div class="row-bg   " style=""></div> </div><div class="col span_12  left">
<div class="vc_col-sm-12 wpb_column column_container vc_column_container col has-animation no-extra-padding" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="fade-in-from-left" data-delay="500">
<div class="vc_column-inner">
<div class="wpb_wrapper">
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<h6 style="text-align: left;"><span style="color: #ffffff;">Health and Fitness Challenges</span></h6>
<p>&nbsp;</p>
<p style="text-align: left;">Passionate about LYFE? Sign up to join the waiting list for one of our upcoming health and fitness challenges.</p>
<p>• Integrated technology platform to make staying on track fun and easy<br/>
• On demand support from the community and coaches to help stay motivated<br/>
• Opportunity to win FREE swag and cash prizes!<br/>
• Daily advice and checklist to maximize your results.<br/>
• Join a community of like-minded people seeking positive changes for their health</p>
</div>
</div>
</div>
</div>
</div>
</div></div><div class="divider-wrap"><div style="height: 40px;" class="divider"></div></div>
<div id="fws_592d6b7ec6908" data-midnight="" data-bg-mobile-hidden="" class="wpb_row vc_row-fluid vc_row standard_section   " style="padding-top: 0px; padding-bottom: 0px; "><div class="row-bg-wrap"> <div class="row-bg   " style=""></div> </div><div class="col span_12  left">
<div class="vc_col-sm-8 wpb_column column_container vc_column_container col no-extra-padding" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
<div class="vc_column-inner">
<div class="wpb_wrapper">
<div class="wpb_raw_code wpb_content_element wpb_raw_html">
<div class="wpb_wrapper">
<div id="klaviyo_emailsignup_widget-2" class="widget widget_klaviyo_emailsignup_widget"><form id="kla_embed_klaviyo_emailsignup_widget-2" class="klaviyo_wp_styling" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
<input type="hidden" name="g" value="jnGiZr">
<div class="klaviyo_field_group">
<label for="kla_email_klaviyo_emailsignup_widget-2" style="display:none;"></label>
<input type="text" value="" name="email" id="kla_email_klaviyo_emailsignup_widget-2" placeholder="Your email" style="padding:10px !important;line-height:22px;color:#333;">
</div>
<div class="klaviyo_messages">
<div class="success_message" style="display:none;"></div>
<div class="error_message" style="display:none;"></div>
</div>
<div class="klaviyo_form_actions">
<button type="submit" class="klaviyo_submit_button">Subscribe</button>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="vc_col-sm-4 wpb_column column_container vc_column_container col no-extra-padding" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
<div class="vc_column-inner">
<div class="wpb_wrapper">
</div>
</div>
</div>
</div></div>
</div>
</div>
</div>
</div></div>
<div id="fws_592d6b7ec8082" data-midnight="dark" data-bg-mobile-hidden="" class="wpb_row vc_row-fluid vc_row full-width-section standard_section   " style="padding-top: 0px; padding-bottom: 0px; "><div class="row-bg-wrap"> <div class="row-bg using-image   " style="background-image: url( {{'ContactBG2.jpg' | asset_url }}); background-position: center center; background-repeat: no-repeat; " data-color_overlay="" data-color_overlay_2="" data-gradient_direction="" data-overlay_strength="0.3" data-enable_gradient="false"></div> </div><div class="col span_12 dark left">
<div class="vc_col-sm-12 wpb_column column_container vc_column_container col padding-8-percent" data-bg-cover="" data-padding-pos="bottom-left" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
<div class="vc_column-inner">
<div class="wpb_wrapper">
<div class="wpb_text_column wpb_content_element  vc_custom_1460417938663">
<div class="wpb_wrapper">
<h6 style="text-align: center;"><span style="color: #2fa396;">Questions About Our Programs?</span></h6>
</div>
</div>
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<div class="screen-reader-response"></div>
{% form 'contact' %}
{% if form.posted_successfully? %}
        <p class="quote">{{ 'contact.form.post_success' | t }}</p>
      {% endif %}

      {% if form.errors %}
        <p class="quote">{{ 'general.forms.post_error' | t }}</p>

       {% assign message = 'contact.form.message' | t %}
        <ul class="center">
          {% for field in form.errors %}
            {% if field == 'form' %}
              <li>
                {{ form.errors.messages[field] }}
              </li>
            {% else %}
              <li>
                {% assign field_name = field | replace: 'body', message %}
                {{ 'general.forms.post_field_error_html' | t: field: field_name, error: form.errors.messages[field] }}
              </li>
            {% endif %}
          {% endfor %}
         </ul>
      {% endif %}
<div id="form">
<div id="contentleft">
<strong>First Name<br/>
<span><input type="text" name="contact[First Name]" value="" size="40" required/></span></strong><p></p>
<p><strong>Last Name<br/>
<span><input type="text" name="contact[Last Name]" value="" size="40" required class="" aria-required="true" aria-invalid="false"/></span></strong></p>
</div>
<div id="contentright">
<strong>Phone<br/>
<span><input type="tel" name="contact[Phone]" value="" size="40" required aria-invalid="false"/></span></strong><p></p>
<p><strong>E-mail<br/>
<span><input type="email" name="contact[email]" value="" size="40" required aria-required="true" aria-invalid="false"/></span></strong></p>
</div>
<div id="bottom">
<p><strong>Your Question<br/>
<span><textarea name="contact[body]" cols="40" rows="10" required aria-invalid="false"></textarea></span> </strong></p>
<p><input type="submit" value="SUBMIT"/></p>
</div>
</div>
  {% endform %}
  </div>
</div>
</div>
</div>
</div>
</div>
</div></div>
</div> 
</div> 
</div> 
<style>
  .vc_custom_1460417938663 {
    padding-top: 5%!important;
    padding-bottom: 2%!important;
}
  .container-wrap input[type="text"], .container-wrap textarea, .container-wrap input[type="email"], .container-wrap input[type="password"], .container-wrap input[type="tel"], .container-wrap input[type="url"], .container-wrap input[type="search"], .container-wrap input[type="date"] {
    background-color: #ffffff!important;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
    font-size: 16px!important;
    -o-box-shadow: none!important;
    padding: 0px!important;
}
</style>