<div id="page-header-wrap shophead" data-animate-in-effect="none" data-midnight="light" class=""
     style="height: 650px; background-position:center;">
    <div class=" " data-animate-in-effect="none" id="page-header-bg" data-midnight="light" data-text-effect="none"
         data-bg-pos="center" data-alignment="center" data-alignment-v="middle" data-parallax="0" data-height="650"
         style="background-color: #000;  height: 650px;">
        <div class="page-header-bg-image phbi"
             style="background-image: url({{ 'daily-essential-header-1.jpg' | asset_url }});"></div>
        <div class="container">
            <div class="row">

                <div class="col span_6 right" style="width: 49.0%; float: right;">
                    <div class="tdes" style="padding-top: 70%; padding-bottom: 30%;">
                        <div class="textwidget">
                            <h4 class="tdes" style="font-size: 32px; font-weight: 600;">THE DAILY ESSENTIALS SHAKES</h4>
                            <p>Fuel your life with clean, plant-based protein, essential vitamins & minerals, and
                                organic greens & superfoods. The smooth texture and rich flavor makes "eating your
                                veggies" easy and delicious.</p>
                            <p style="text-align: left; float: left; width: 49%; margin-right: 2%;">
                                <a href="{{ shop.url }}"
                                   style="font-weight: 600; color: #fff; background-color: #42241d; border: 5px solid #42241d; border-radius: 3px; display: block; padding: 10px 20px; font-weight: bold; font-size: 18px; text-align: center;">SHOP
                                    CHOCOLATE</a>
                            </p>
                            <p style="text-align: left; float: left; width: 49%;">
                                <a href="{{ shop.url }}"
                                   style="font-weight: 600; color: #fff; background-color: #e6c69c; border: 5px solid #e6c69c; border-radius: 3px; display: block; padding: 10px 20px; font-weight: bold; font-size: 18px; text-align: center;">SHOP
                                    VANILLA CHAI</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<link rel='stylesheet' id='all_around-fonts-css'
      href="https://fonts.googleapis.com/css?family=Shadows+Into+Light:400,600" type='text/css' media='all'/>
{{ 'content_slider_js.js' | asset_url | script_tag }}
<div class="container-wrap">
    <div class="container main-content">
        <div class="row">

            <div id="fws_592fc2ade3b89" data-midnight="dark" data-bg-mobile-hidden=""
                 class="wpb_row vc_row-fluid vc_row standard_section   "
                 style="padding-top: 0px; padding-bottom: 0px; ">
                <div class="row-bg-wrap">
                    <div class="row-bg    " style="" data-color_overlay="" data-color_overlay_2=""
                         data-gradient_direction="" data-overlay_strength="0.3" data-enable_gradient="false"></div>
                </div>
                <div class="col span_12 dark left">
                    <div class="vc_col-sm-12 wpb_column column_container vc_column_container col centered-text no-extra-padding"
                         data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color=""
                         data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation=""
                         data-delay="0">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="divider-wrap">
                                    <div style="height: 26px;" class="divider"></div>
                                </div>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <h6 style="text-align: center;"><span class="ez-toc-section"
                                                                              id="ALL-IN-ONE_NUTRITION_SHAKE"><span
                                                        style="color: #1f9c97;">ALL-IN-ONE NUTRITION SHAKE<br/>
</span></span></h6>
                                    </div>
                                </div>
                                <div class="divider-wrap">
                                    <div style="height: 30px;" class="divider"></div>
                                </div>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p style="text-align: center;"><span
                                                    id="Full_of_everything_you_need_and_nothing_you_don8217t_to_Live_Your_Fullest_Everyday8221Each_scoop_is_packed_full_of_bio-available_plant_proteins_powerful_superfoods_organic_greens_pre_and_probiotics_CoQ10_Omega_38217s_and_digestive_enzymes_to_provide_the_fuel_and_nutrients_you_need_to_thrive_LYFE_Fuel8217s_Daily_Essentials_shake_is_a_revolutionary_super-food_wellness_supplement_designed_to_fill_the_common_nutritional_gaps_that_occur_restore_balance_and_harmony_and_nourish_your_body_from_the_inside_out_An_all-natural_vegan_non_GMO_soy_and_dairy_free_formula_made_from_natural_and_organic_ingredients_Daily_Essentials_is_designed_to_boost_your_daily_protein_and_nutrient_intake_while_helping_to_kick_start_your_metabolism_curb_sugar_cravings_and_nourish_your_body_so_that_it_can_perform_at_its_best_allowing_you_to_kick-ass_at_LYFE"
                                                    class="ez-toc-section" style="color: #000000;">Full of everything you need and nothing you don’t to “Live Your Fullest Every Day!” </span>
                                        </p>
                                        <p style="text-align: center;"><span
                                                    id="Full_of_everything_you_need_and_nothing_you_don8217t_to_Live_Your_Fullest_Everyday8221Each_scoop_is_packed_full_of_bio-available_plant_proteins_powerful_superfoods_organic_greens_pre_and_probiotics_CoQ10_Omega_38217s_and_digestive_enzymes_to_provide_the_fuel_and_nutrients_you_need_to_thrive_LYFE_Fuel8217s_Daily_Essentials_shake_is_a_revolutionary_super-food_wellness_supplement_designed_to_fill_the_common_nutritional_gaps_that_occur_restore_balance_and_harmony_and_nourish_your_body_from_the_inside_out_An_all-natural_vegan_non_GMO_soy_and_dairy_free_formula_made_from_natural_and_organic_ingredients_Daily_Essentials_is_designed_to_boost_your_daily_protein_and_nutrient_intake_while_helping_to_kick_start_your_metabolism_curb_sugar_cravings_and_nourish_your_body_so_that_it_can_perform_at_its_best_allowing_you_to_kick-ass_at_LYFE"
                                                    class="ez-toc-section" style="color: #000000;">Each scoop is packed full of bio-available plant proteins, powerful superfoods, organic greens, pre and probiotics, CoQ10, Omega 3’s and digestive enzymes to provide the fuel and nutrients you need to thrive! LYFE Fuel’s Daily Essentials Shake is a revolutionary superfood wellness supplement designed to fill the common nutritional gaps that occur, restore balance and harmony, and nourish your body from the inside out. </span>
                                        </p>
                                        <p style="text-align: center;"><span
                                                    id="Full_of_everything_you_need_and_nothing_you_don8217t_to_Live_Your_Fullest_Everyday8221Each_scoop_is_packed_full_of_bio-available_plant_proteins_powerful_superfoods_organic_greens_pre_and_probiotics_CoQ10_Omega_38217s_and_digestive_enzymes_to_provide_the_fuel_and_nutrients_you_need_to_thrive_LYFE_Fuel8217s_Daily_Essentials_shake_is_a_revolutionary_super-food_wellness_supplement_designed_to_fill_the_common_nutritional_gaps_that_occur_restore_balance_and_harmony_and_nourish_your_body_from_the_inside_out_An_all-natural_vegan_non_GMO_soy_and_dairy_free_formula_made_from_natural_and_organic_ingredients_Daily_Essentials_is_designed_to_boost_your_daily_protein_and_nutrient_intake_while_helping_to_kick_start_your_metabolism_curb_sugar_cravings_and_nourish_your_body_so_that_it_can_perform_at_its_best_allowing_you_to_kick-ass_at_LYFE"
                                                    class="ez-toc-section" style="color: #000000;">An all-natural, vegan, non-GMO, soy and dairy free formula made from whole food and organic ingredients, Daily Essentials is designed to boost your daily protein and nutrient intake, while helping to kick start your metabolism, curb sugar cravings and nourish your body so that it can perform at its best, allowing you to kick-ass at LYFE!</span>
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fws_592fc2ade4b40" data-midnight="dark" data-bg-mobile-hidden=""
                 class="wpb_row vc_row-fluid vc_row standard_section   "
                 style="padding-top: 0px; padding-bottom: 0px; ">
                <div class="row-bg-wrap">
                    <div class="row-bg    " style="" data-color_overlay="" data-color_overlay_2=""
                         data-gradient_direction="" data-overlay_strength="0.3" data-enable_gradient="false"></div>
                </div>
                <div class="col span_12 dark left">
                    <div class="vc_col-sm-12 wpb_column column_container vc_column_container col centered-text no-extra-padding"
                         data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color=""
                         data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation=""
                         data-delay="0">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div id="fws_592fc2ade5471" data-midnight="" data-bg-mobile-hidden=""
                                     class="wpb_row vc_row-fluid vc_row standard_section   "
                                     style="padding-top: 0px; padding-bottom: 0px; ">
                                    <div class="row-bg-wrap">
                                        <div class="row-bg   " style=""></div>
                                    </div>
                                    <div class="col span_12  left">
                                        <div class="vc_col-sm-2 wpb_column column_container vc_column_container col no-extra-padding"
                                             data-bg-cover="" data-padding-pos="all" data-has-bg-color="false"
                                             data-bg-color="" data-bg-opacity="1" data-hover-bg=""
                                             data-hover-bg-opacity="1" data-animation="" data-delay="0">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p><img class="aligncenter wp-image-15139"
                                                                    src="{{ 'Ingredients-1.png' | file_url }}"
                                                                    width="100" height="100"
                                                                    srcset="{{ 'Ingredients-1.png' | file_url }} 150w, {{ 'Ingredients-1.png' | file_url }} 300w, {{ 'Ingredients-1.png' | file_url }} 50w, {{ 'Ingredients-1.png' | file_url }} 100w, {{ 'Ingredients-1.png' | file_url }} 500w, {{ 'Ingredients-1.png' | file_url }} 130w, {{ 'Ingredients-1.png' | file_url }} 512w"
                                                                    sizes="(max-width: 100px) 100vw, 100px"/></p>
                                                        </div>
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p style="text-align: center;"><strong>SOY &amp; DAIRY
                                                                    FREE</strong></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vc_col-sm-2 wpb_column column_container vc_column_container col no-extra-padding"
                                             data-bg-cover="" data-padding-pos="all" data-has-bg-color="false"
                                             data-bg-color="" data-bg-opacity="1" data-hover-bg=""
                                             data-hover-bg-opacity="1" data-animation="" data-delay="0">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p><img class="aligncenter wp-image-15159"
                                                                    src="{{ 'Certified-Good-Manufacturing-Practices-copy.png' | asset_url }}"
                                                                    width="100" height="100"
                                                                    srcset="{{ 'Certified-Good-Manufacturing-Practices-copy.png' | asset_url }} 150w, {{ 'Certified-Good-Manufacturing-Practices-copy.png' | asset_url }} 300w, {{ 'Certified-Good-Manufacturing-Practices-copy.png' | asset_url }} 768w, {{ 'Certified-Good-Manufacturing-Practices-copy.png' | asset_url }} 50w, {{ 'Certified-Good-Manufacturing-Practices-copy.png' | asset_url }} 100w, {{ 'Certified-Good-Manufacturing-Practices-copy.png' | asset_url }} 500w, {{ 'Certified-Good-Manufacturing-Practices-copy.png' | asset_url }} 130w, {{ 'Certified-Good-Manufacturing-Practices-copy.png' | asset_url }} 900w"
                                                                    sizes="(max-width: 100px) 100vw, 100px"/></p>
                                                        </div>
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p style="text-align: center;"><strong>cGMP
                                                                    FACILITY</strong></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vc_col-sm-2 wpb_column column_container vc_column_container col no-extra-padding"
                                             data-bg-cover="" data-padding-pos="all" data-has-bg-color="false"
                                             data-bg-color="" data-bg-opacity="1" data-hover-bg=""
                                             data-hover-bg-opacity="1" data-animation="" data-delay="0">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p><img class="aligncenter wp-image-15143"
                                                                    src="{{ 'Ingredients-2-copy.png' | asset_url }}"
                                                                    width="100" height="100"
                                                                    srcset="{{ 'Ingredients-2-copy.png' | asset_url }} 150w, {{ 'Ingredients-2-copy.png' | asset_url }} 300w, {{ 'Ingredients-2-copy.png' | asset_url }} 50w, {{ 'Ingredients-2-copy.png' | asset_url }} 100w, {{ 'Ingredients-2-copy.png' | asset_url }} 500w, {{ 'Ingredients-2-copy.png' | asset_url }} 130w, {{ 'Ingredients-2-copy.png' | asset_url }} 512w"
                                                                    sizes="(max-width: 100px) 100vw, 100px"/></p>
                                                        </div>
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p style="text-align: center;"><strong>NON-GMO</strong></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vc_col-sm-2 wpb_column column_container vc_column_container col no-extra-padding"
                                             data-bg-cover="" data-padding-pos="all" data-has-bg-color="false"
                                             data-bg-color="" data-bg-opacity="1" data-hover-bg=""
                                             data-hover-bg-opacity="1" data-animation="" data-delay="0">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p><img class="aligncenter wp-image-15140"
                                                                    src="{{ 'Ingredients-copy.png' | asset_url }}"
                                                                    width="100" height="100"
                                                                    srcset="{{ 'Ingredients-copy.png' | asset_url }} 150w, {{ 'Ingredients-copy.png' | asset_url }} 300w, {{ 'Ingredients-copy.png' | asset_url }} 50w, {{ 'Ingredients-copy.png' | asset_url }} 100w, {{ 'Ingredients-copy.png' | asset_url }} 500w, {{ 'Ingredients-copy.png' | asset_url }} 130w, {{ 'Ingredients-copy.png' | asset_url }} 512w"
                                                                    sizes="(max-width: 100px) 100vw, 100px"/></p>
                                                        </div>
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p style="text-align: center;"><strong>NOTHING
                                                                    ARTIFICIAL</strong></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vc_col-sm-2 wpb_column column_container vc_column_container col no-extra-padding"
                                             data-bg-cover="" data-padding-pos="all" data-has-bg-color="false"
                                             data-bg-color="" data-bg-opacity="1" data-hover-bg=""
                                             data-hover-bg-opacity="1" data-animation="" data-delay="0">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p><img class="aligncenter wp-image-15167"
                                                                    src="{{ 'Ingredients-5.png' | asset_url }}"
                                                                    width="100" height="100"
                                                                    srcset="{{ 'Ingredients-5.png' | asset_url }} 150w, {{ 'Ingredients-5.png' | asset_url }} 300w, {{ 'Ingredients-5.png' | asset_url }} 50w, {{ 'Ingredients-5.png' | asset_url }} 100w, {{ 'Ingredients-5.png' | asset_url }} 500w, {{ 'Ingredients-5.png' | asset_url }} 130w, {{ 'Ingredients-5.png' | asset_url }} 512w"
                                                                    sizes="(max-width: 100px) 100vw, 100px"/></p>
                                                        </div>
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p style="text-align: center;"><strong>VEGAN</strong></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vc_col-sm-2 wpb_column column_container vc_column_container col no-extra-padding"
                                             data-bg-cover="" data-padding-pos="all" data-has-bg-color="false"
                                             data-bg-color="" data-bg-opacity="1" data-hover-bg=""
                                             data-hover-bg-opacity="1" data-animation="" data-delay="0">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p><img class="aligncenter wp-image-15168"
                                                                    src="{{ 'Ingredients-6.png' | asset_url }}"
                                                                    width="100" height="100"
                                                                    srcset="{{ 'Ingredients-6.png' | asset_url }} 150w, {{ 'Ingredients-6.png' | asset_url }} 300w, {{ 'Ingredients-6.png' | asset_url }} 50w, {{ 'Ingredients-6.png' | asset_url }} 100w, {{ 'Ingredients-6.png' | asset_url }} 500w, {{ 'Ingredients-6.png' | asset_url }} 130w, {{ 'Ingredients-6.png' | asset_url }} 512w"
                                                                    sizes="(max-width: 100px) 100vw, 100px"/></p>
                                                        </div>
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p style="text-align: center;"><strong>GLUTEN FREE</strong>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="hidden-s" data-midnight="dark" data-bg-mobile-hidden=""
                 class="wpb_row vc_row-fluid vc_row full-width-section standard_section  ingredientblocks "
                 style="padding-top: 40px; padding-bottom: 0px; ">
                <div class="row-bg-wrap">
                    <div class="row-bg    " style="" data-color_overlay="" data-color_overlay_2=""
                         data-gradient_direction="" data-overlay_strength="0.3" data-enable_gradient="false"></div>
                </div>
                <div class="col span_12 dark left">
                    <div class="vc_col-sm-12 wpb_column column_container vc_column_container col centered-text no-extra-padding"
                         data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color=""
                         data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation=""
                         data-delay="0">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <h6 style="text-align: center;"><span class="ez-toc-section"
                                                                              id="EXACTLY_WHAT_THE_BODY_NEEDS"><span
                                                        style="color: #1f9c97;">EXACTLY WHAT THE BODY NEEDS</span></span>
                                        </h6>
                                        <div class="content_slider_wrapper" id="all_around_slider_1">
                                            <div class="circle_slider_text_wrapper" id="sw0" style="display: none;">
                                                <div class="content_slider_text_block_wrap"><h3
                                                            style="color: #5da399 !important;"><span
                                                                class="ez-toc-section" id="Yellow_Pea_Protein">Yellow Pea Protein</span>
                                                    </h3></div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="circle_slider_text_wrapper" id="sw1" style="display: none;">
                                                <div class="content_slider_text_block_wrap"><h3
                                                            style="color: #5da399 !important;"><span
                                                                class="ez-toc-section" id="Sprouted_Brown_Rice_Protein">Sprouted Brown Rice Protein</span>
                                                    </h3></div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="circle_slider_text_wrapper" id="sw2" style="display: none;">
                                                <div class="content_slider_text_block_wrap"><h3
                                                            style="color: #5da399 !important;"><span
                                                                class="ez-toc-section" id="Organic_Alfalfa_Sprouts">Organic Alfalfa Sprouts</span>
                                                    </h3></div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="circle_slider_text_wrapper" id="sw3" style="display: none;">
                                                <div class="content_slider_text_block_wrap"><h3
                                                            style="color: #5da399 !important;"><span
                                                                class="ez-toc-section" id="Organic_Broccoli">Organic Broccoli</span>
                                                    </h3></div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="circle_slider_text_wrapper" id="sw4" style="display: none;">
                                                <div class="content_slider_text_block_wrap"><h3
                                                            style="color: #5da399 !important;"><span
                                                                class="ez-toc-section" id="Organic_Cabbage">Organic Cabbage</span>
                                                    </h3></div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="circle_slider_text_wrapper" id="sw5" style="display: none;">
                                                <div class="content_slider_text_block_wrap"><h3
                                                            style="color: #5da399 !important;"><span
                                                                class="ez-toc-section"
                                                                id="Organic_Kale">Organic Kale</span></h3></div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="circle_slider_text_wrapper" id="sw6" style="display: none;">
                                                <div class="content_slider_text_block_wrap"><h3
                                                            style="color: #5da399 !important;"><span
                                                                class="ez-toc-section" id="Organic_Parsley">Organic Parsley</span>
                                                    </h3></div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="circle_slider_text_wrapper" id="sw7" style="display: none;">
                                                <div class="content_slider_text_block_wrap"><h3
                                                            style="color: #5da399 !important;"><span
                                                                class="ez-toc-section" id="Organic_Chlorella">Organic Chlorella</span>
                                                    </h3></div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="circle_slider_text_wrapper" id="sw8" style="display: none;">
                                                <div class="content_slider_text_block_wrap"><h3
                                                            style="color: #5da399 !important;"><span
                                                                class="ez-toc-section"
                                                                id="Organic_Kelp">Organic Kelp</span></h3></div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="circle_slider_text_wrapper" id="sw9" style="display: none;">
                                                <div class="content_slider_text_block_wrap"><h3
                                                            style="color: #5da399 !important;"><span
                                                                class="ez-toc-section" id="Organic_Spirulina">Organic Spirulina</span>
                                                    </h3></div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="circle_slider_text_wrapper" id="sw10" style="display: none;">
                                                <div class="content_slider_text_block_wrap"><h3
                                                            style="color: #5da399 !important;"><span
                                                                class="ez-toc-section" id="Organic_Wheat_Grass">Organic Wheat Grass</span>
                                                    </h3></div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="circle_slider_text_wrapper" id="sw11" style="display: none;">
                                                <div class="content_slider_text_block_wrap"><h3
                                                            style="color: #5da399 !important;"><span
                                                                class="ez-toc-section" id="Organic_Oat_Grass">Organic Oat Grass</span>
                                                    </h3></div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="circle_slider_text_wrapper" id="sw12" style="display: none;">
                                                <div class="content_slider_text_block_wrap"><h3
                                                            style="color: #5da399 !important;"><span
                                                                class="ez-toc-section" id="Organic_Dandelion">Organic Dandelion</span>
                                                    </h3></div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="circle_slider_text_wrapper" id="sw13" style="display: none;">
                                                <div class="content_slider_text_block_wrap"><h3
                                                            style="color: #5da399 !important;"><span
                                                                class="ez-toc-section" id="Wild_Blueberries">Wild Blueberries</span>
                                                    </h3></div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="circle_slider_text_wrapper" id="sw14" style="display: none;">
                                                <div class="content_slider_text_block_wrap"><h3
                                                            style="color: #5da399 !important;"><span
                                                                class="ez-toc-section"
                                                                id="Strawberries">Strawberries</span></h3></div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="circle_slider_text_wrapper" id="sw15" style="display: none;">
                                                <div class="content_slider_text_block_wrap"><h3
                                                            style="color: #5da399 !important;"><span
                                                                class="ez-toc-section"
                                                                id="Raspberries">Raspberries</span></h3></div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="circle_slider_text_wrapper" id="sw16" style="display: none;">
                                                <div class="content_slider_text_block_wrap"><h3
                                                            style="color: #5da399 !important;"><span
                                                                class="ez-toc-section"
                                                                id="Pomegranate">Pomegranate</span></h3></div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="circle_slider_text_wrapper" id="sw17" style="display: none;">
                                                <div class="content_slider_text_block_wrap"><h3
                                                            style="color: #5da399 !important;"><span
                                                                class="ez-toc-section" id="Prunes">Prunes</span></h3>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="circle_slider_text_wrapper" id="sw18" style="display: none;">
                                                <div class="content_slider_text_block_wrap"><h3
                                                            style="color: #5da399 !important;"><span
                                                                class="ez-toc-section" id="Grape_Seed_Extract">Grape Seed Extract</span>
                                                    </h3></div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="circle_slider_text_wrapper" id="sw19" style="display: none;">
                                                <div class="content_slider_text_block_wrap"><h3
                                                            style="color: #5da399 !important;"><span
                                                                class="ez-toc-section" id="Grapefruit">Grapefruit</span>
                                                    </h3></div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="circle_slider_text_wrapper" id="sw20" style="display: none;">
                                                <div class="content_slider_text_block_wrap"><h3
                                                            style="color: #5da399 !important;"><span
                                                                class="ez-toc-section" id="Flaxseed">Flaxseed</span>
                                                    </h3></div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="circle_slider_text_wrapper" id="sw21" style="display: none;">
                                                <div class="content_slider_text_block_wrap"><h3
                                                            style="color: #5da399 !important;"><span
                                                                class="ez-toc-section" id="Raw_Cacao">Raw Cacao</span>
                                                    </h3></div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="circle_slider_text_wrapper" id="sw22" style="display: none;">
                                                <div class="content_slider_text_block_wrap"><h3
                                                            style="color: #5da399 !important;"><span
                                                                class="ez-toc-section"
                                                                id="Vanilla_Bean">Vanilla Bean</span></h3></div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="circle_slider_text_wrapper" id="sw23" style="display: none;">
                                                <div class="content_slider_text_block_wrap"><h3
                                                            style="color: #5da399 !important;"><span
                                                                class="ez-toc-section" id="Cinnamon">Cinnamon</span>
                                                    </h3></div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="circle_slider_text_wrapper" id="sw24" style="display: none;">
                                                <div class="content_slider_text_block_wrap"><h3
                                                            style="color: #5da399 !important;"><span
                                                                class="ez-toc-section" id="Sea_Salt">Sea Salt</span>
                                                    </h3></div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="circle_slider_text_wrapper" id="sw25" style="display: none;">
                                                <div class="content_slider_text_block_wrap"><h3
                                                            style="color: #5da399 !important;"><span
                                                                class="ez-toc-section" id="Organic_Coconut_Sugar">Organic Coconut Sugar</span>
                                                    </h3></div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="circle_slider_text_wrapper" id="sw26" style="display: none;">
                                                <div class="content_slider_text_block_wrap"><h3
                                                            style="color: #5da399 !important;"><span
                                                                class="ez-toc-section"
                                                                id="Stevia_Leaf">Stevia Leaf</span></h3></div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="circle_slider_text_wrapper" id="sw27" style="display: none;">
                                                <div class="content_slider_text_block_wrap"><h3
                                                            style="color: #5da399 !important;"><span
                                                                class="ez-toc-section" id="Sugar_Beet">Sugar Beet</span>
                                                    </h3></div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="fws_592fc2ade8eb6" data-midnight="" data-bg-mobile-hidden=""
                                     class="wpb_row vc_row-fluid vc_row standard_section   "
                                     style="padding-top: 0px; padding-bottom: 0px; ">
                                    <div class="row-bg-wrap">
                                        <div class="row-bg   " style=""></div>
                                    </div>
                                    <div class="col span_12  left">
                                        <div class="vc_col-sm-3 wpb_column column_container vc_column_container col no-extra-padding"
                                             data-bg-cover="" data-padding-pos="all" data-has-bg-color="false"
                                             data-bg-color="" data-bg-opacity="1" data-hover-bg=""
                                             data-hover-bg-opacity="1" data-animation="" data-delay="0">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vc_col-sm-6 wpb_column column_container vc_column_container col no-extra-padding"
                                             data-bg-cover="" data-padding-pos="all" data-has-bg-color="false"
                                             data-bg-color="" data-bg-opacity="1" data-hover-bg=""
                                             data-hover-bg-opacity="1" data-animation="" data-delay="0">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                    <a class="nectar-button large see-through-2 "
                                                       style="margin-right: 10px; margin-left: 10px;"
                                                       href="/pages/ingredient-highlights" data-color-override="#5ca199"
                                                       data-hover-color-override="#5ca199"
                                                       data-hover-text-color-override="#ffffff"><span>Click Here to Learn More About What's Inside</span></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vc_col-sm-3 wpb_column column_container vc_column_container col no-extra-padding"
                                             data-bg-cover="" data-padding-pos="all" data-has-bg-color="false"
                                             data-bg-color="" data-bg-opacity="1" data-hover-bg=""
                                             data-hover-bg-opacity="1" data-animation="" data-delay="0">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fws_592fc2ade9c84" data-midnight="dark" data-bg-mobile-hidden=""
                 class="wpb_row vc_row-fluid vc_row standard_section   "
                 style="padding-top: 0px; padding-bottom: 0px; ">
                <div class="row-bg-wrap">
                    <div class="row-bg    " style="" data-color_overlay="" data-color_overlay_2=""
                         data-gradient_direction="" data-overlay_strength="0.3" data-enable_gradient="false"></div>
                </div>
                <div class="col span_12 dark left">
                    <div class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding"
                         data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color=""
                         data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation=""
                         data-delay="0">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="divider-wrap">
                                    <div style="height: 25px;" class="divider"></div>
                                </div>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <h6 style="text-align: center;"><span class="ez-toc-section"
                                                                              id="INGREDIENTS"><span
                                                        style="color: #1f9c97;">INGREDIENTS</span></span></h6>
                                    </div>
                                </div>
                                <div class="divider-wrap">
                                    <div style="height: 25px;" class="divider"></div>
                                </div>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p style="text-align: center;">Due to the decreasing nutritional density of the
                                            food we eat, many of us fail to meet the daily requirements for key
                                            nutrients that we need for optimal health and performance. The Daily
                                            Essentials Shake provides the ideal combination of vital nutrients to fuel
                                            every cell in your body so you can be at your best.</p>
                                    </div>
                                </div>
                                <div class="divider-wrap">
                                    <div style="height: 25px;" class="divider"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fws_592fc2adea81f" data-midnight="dark" data-bg-mobile-hidden=""
                 class="wpb_row vc_row-fluid vc_row standard_section   "
                 style="padding-top: 0px; padding-bottom: 0px; ">
                <div class="row-bg-wrap">
                    <div class="row-bg    " style="" data-color_overlay="" data-color_overlay_2=""
                         data-gradient_direction="" data-overlay_strength="0.3" data-enable_gradient="false"></div>
                </div>
                <div class="col span_12 dark left">
                    <div class="vc_col-sm-6 wpb_column column_container vc_column_container col no-extra-padding"
                         data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color=""
                         data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation=""
                         data-delay="0">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <h3 style="text-align: center;"><span class="ez-toc-section"
                                                                              id="ESSENTIAL_NUTRIENTS"><span
                                                        style="color: #1f9c97;">ESSENTIAL NUTRIENTS</span></span></h3>
                                    </div>
                                </div>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p><img class="aligncenter wp-image-15269" src="{{ 'VEGAN-5.png' | asset_url }}"
                                                width="750" height="750"
                                                srcset="{{ 'VEGAN-5.png' | asset_url }} 300w,{{ 'VEGAN-5.png' | asset_url }} 150w, {{ 'VEGAN-5.png' | asset_url }} 768w, {{ 'VEGAN-5.png' | asset_url }} 1024w, {{ 'VEGAN-5.png' | asset_url }} 50w, {{ 'VEGAN-5.png' | asset_url }} 100w, {{ 'VEGAN-5.png' | asset_url }} 500w, {{ 'VEGAN-5.png' | asset_url }} 1000w, {{ 'VEGAN-5.png' | asset_url }} 130w, {{ 'VEGAN-5.png' | asset_url }} 1080w"
                                                sizes="(max-width: 750px) 100vw, 750px"/></p>
                                    </div>
                                </div>
                                <div class="divider-wrap">
                                    <div style="height: 75px;" class="divider"></div>
                                </div>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <blockquote>
                                            <p style="text-align: center;"><span style="color: #1f9c97;">&#8220;Over 90% of Americans get less than the Estimated Average Requirement (EAR) or Adequate Intake (AI) for one or more vitamins and minerals in their diets.&#8221; </span>
                                            </p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_col-sm-6 wpb_column column_container vc_column_container col no-extra-padding"
                         data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color=""
                         data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation=""
                         data-delay="0">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <h3 style="text-align: center;"><span class="ez-toc-section"
                                                                              id="MORE_OF_WHAT_IS_MISSING"><span
                                                        style="color: #1f9c97;">MORE OF WHAT IS MISSING</span></span>
                                        </h3>
                                    </div>
                                </div>
                                <div class="divider-wrap">
                                    <div style="height: 25px;" class="divider"></div>
                                </div>
                                <div class="toggles accordion" data-style="default">
                                    <div class="toggle accent-color"><h3><span class="ez-toc-section" id="Vitamin_D3"><a
                                                        href="#"><i class="icon-plus-sign"></i>Vitamin D3</a></span>
                                        </h3>
                                        <div>
                                            <div class="nectar-fancy-box" data-color="accent-color">
                                                <div class="box-bg"
                                                     style="background-image: url({{ 'shutterstock_289747169.jpg' | asset_url }}); "></div>
                                                <div class="inner" style="min-height: 300px">
                                                    <div class="grid__item one-fifth tit"><i>Benefit:</i></div>
                                                    <div class="grid__item four-fifths">
                                                        <p>It is essential for optimal calcium absorption in the body to
                                                            make your bones strong and healthy. The lesser known role of
                                                            Vitamin D impacts your sex hormones and your mood, which we
                                                            all want working as well as possible!</p>
                                                    </div>
                                                    <div class="grid__item one-fifth tit"><i>Form:</i></div>
                                                    <div class="grid__item four-fifths">
                                                        <p>LYFE uses Vitashine™, the world’s only Certified Vegan D3
                                                            ingredient. It’s derived from lichen, unlike the more
                                                            commonly used sheep wool or fish liver oil.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="toggle accent-color"><h3><span class="ez-toc-section"
                                                                               id="Vitamin_B12"><a href="#"><i
                                                            class="icon-plus-sign"></i>Vitamin B12 </a></span></h3>
                                        <div>
                                            <div class="nectar-fancy-box" data-color="accent-color">
                                                <div class="box-bg"
                                                     style="background-image: url({{ 'shutterstock_252895000.jpg' | asset_url }}); "></div>
                                                <div class="inner" style="min-height: 300px">
                                                    <div class="grid__item one-fifth tit"><i>Benefit:</i></div>
                                                    <div class="grid__item four-fifths">
                                                        <p>Helps keep the body&#8217;s nerve and blood cells healthy and
                                                            helps make DNA, the genetic material in all cells. Also
                                                            contributes to healthy energy levels.</p>
                                                    </div>
                                                    <div class="grid__item one-fifth tit"><i>Form:</i></div>
                                                    <div class="grid__item four-fifths">
                                                        <p>We use the most bioavailable form of B12. Unlike the more
                                                            commonly used cyanocobalamin, we use methylcobalamin to make
                                                            ensure you get the maximum benefit.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="toggle accent-color"><h3><span class="ez-toc-section" id="Vitamin_K2"><a
                                                        href="#"><i class="icon-plus-sign"></i>Vitamin K2</a></span>
                                        </h3>
                                        <div>
                                            <div class="nectar-fancy-box" data-color="accent-color">
                                                <div class="box-bg"
                                                     style="background-image: url({{ 'shutterstock_217817521.jpg' | asset_url }}); "></div>
                                                <div class="inner" style="min-height: 300px">
                                                    <div class="grid__item one-fifth tit"><i>Benefit:</i></div>
                                                    <div class="grid__item four-fifths">
                                                        <p>Maintains healthy skin and works synergistically with a
                                                            number of other nutrients, including calcium and vitamin D.
                                                            Its biological role is to help move calcium into the proper
                                                            areas in your body, but recent studies show that it is now
                                                            known to affect at least 16 Gla-proteins in the body, which
                                                            promotes longevity.</p>
                                                    </div>
                                                    <div class="grid__item one-fifth tit"><i>Form:</i></div>
                                                    <div class="grid__item four-fifths">
                                                        <p>To provide the full spectrum of benefits derived from K2,
                                                            LYFE uses a mix of pure, non-soy MK4 and MK7.</p>
                                                    </div>
                                                    <div class="grid__item four-fifths"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="toggle accent-color"><h3><span class="ez-toc-section" id="Vitamin_E"><a
                                                        href="#"><i class="icon-plus-sign"></i>Vitamin E </a></span>
                                        </h3>
                                        <div>
                                            <div class="nectar-fancy-box" data-color="accent-color">
                                                <div class="box-bg"
                                                     style="background-image: url({{ 'shutterstock_417192874.jpg' | asset_url }}); "></div>
                                                <div class="inner" style="min-height: 300px">
                                                    <div class="grid__item one-fifth tit"><i>Benefit:</i></div>
                                                    <div class="grid__item four-fifths">
                                                        <p>An antioxidant that protects body tissue from damage caused
                                                            by substances called free radicals, which helps to protect
                                                            your body on a cellular level and contribute to overall
                                                            health.</p>
                                                    </div>
                                                    <div class="grid__item one-fifth tit"><i>Form:</i></div>
                                                    <div class="grid__item four-fifths">
                                                        <p>We use non-soy alpha tocopherol, which mirrors tocopherol
                                                            intakes seen in healthy diets.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="toggle accent-color"><h3><span class="ez-toc-section" id="Magnesium"><a
                                                        href="#"><i class="icon-plus-sign"></i>Magnesium</a></span></h3>
                                        <div>
                                            <div class="nectar-fancy-box" data-color="accent-color">
                                                <div class="box-bg"
                                                     style="background-image: url({{ 'shutterstock_209153794.jpg' | asset_url }}); "></div>
                                                <div class="inner" style="min-height: 300px">
                                                    <div class="grid__item one-fifth tit"><i>Benefit:</i></div>
                                                    <div class="grid__item four-fifths">
                                                        <p>Used in over 300 enzymatic processes, including all of those
                                                            involved in ATP production. It’s also vital for proper
                                                            transcription of DNA and RNA. It also helps maintain
                                                            calmness and contributes to restful sleep. Due to soil
                                                            depletion and poor farming practices, it’s almost impossible
                                                            to get enough magnesium from your diet.</p>
                                                    </div>
                                                    <div class="grid__item one-fifth tit"><i>Form:</i></div>
                                                    <div class="grid__item four-fifths">
                                                        <p>LYFE uses a form of magnesium that are from minerals
                                                            typically found in nature, such as sea waters. Another term
                                                            used for these types of magnesium supplements is
                                                            “inorganic”, however this can be misleading as this form is
                                                            often closest to the forms of magnesium actually found in
                                                            nature.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="toggle accent-color"><h3><span class="ez-toc-section"
                                                                               id="Coenzyme_Q-10"><a href="#"><i
                                                            class="icon-plus-sign"></i>Coenzyme Q-10</a></span></h3>
                                        <div>
                                            <div class="nectar-fancy-box" data-color="accent-color">
                                                <div class="box-bg"
                                                     style="background-image: url({{ 'shutterstock_267753767.jpg' | asset_url }}); "></div>
                                                <div class="inner" style="min-height: 300px">
                                                    <div class="grid__item one-fifth tit"><i>Benefit:</i></div>
                                                    <div class="grid__item four-fifths">
                                                        <p>CoQ10 a substance similar to a vitamin. It is found in every
                                                            cell of the body. Your body makes CoQ10, and your cells use
                                                            it to produce energy your body needs for cell growth and
                                                            maintenance. It also functions as an antioxidant, which
                                                            protects the body from damage caused by harmful
                                                            molecules.</p>
                                                    </div>
                                                    <div class="grid__item one-fifth tit"><i>Form:</i></div>
                                                    <div class="grid__item four-fifths">
                                                        <p>Both forms—ubiquinone and ubiquinol—are effective and
                                                            essential to important pathways in the body, and in states
                                                            of need, either form can be reduced or oxidized to form the
                                                            other. LYFE uses a pharmaceutical-grade, USP certified form
                                                            of CoQ10.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="page-header-mlth-1" data-midnight="dark" data-bg-mobile-hidden=""
                 class="wpb_row vc_row-fluid vc_row standard_section   "
                 style="padding-top: 0px; padding-bottom: 0px; ">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="divider-wrap">
                            <div style="height: 25px;" class="divider"></div>
                        </div>
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <h6 style="text-align: center;">TRY THE DAILY ESSENTIALS SHAKE TODAY</h6>
                            </div>
                        </div>
                        <div class="divider-wrap">
                            <div style="height: 25px;" class="divider"></div>
                        </div>
                        <div id="" data-midnight="" data-bg-mobile-hidden=""
                             class="wpb_row vc_row-fluid vc_row standard_section   "
                             style="padding-top: 0px; padding-bottom: 0px; ">
                            <div class="row-bg-wrap">
                                <div class="row-bg   " style=""></div>
                            </div>
                            <div class="col span_12  left">
                                <div class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding instance-16"
                                     data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color=""
                                     data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation=""
                                     data-delay="0">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p style="text-align: center;">
                                                        <a href="https://lyfefuel-main.myshopify.com/products/daily-essentials-shake-chocolate"
                                                           style="font-weight: 600; color: #fff; background-color: #42241d; border: 5px solid #42241d; border-radius: 3px; margin-right: 20px; padding: 10px 20px; font-weight: bold; font-size: 18px; text-align: center;">SHOP
                                                            CHOCOLATE</a> <a
                                                                href="https://lyfefuel-main.myshopify.com/products/daily-essentials-shake-vanilla-chai"
                                                                style="font-weight: 600; color: #fff; background-color: #e6c69c; border: 5px solid #e6c69c; border-radius: 3px; padding: 10px 20px; font-weight: bold; font-size: 18px; text-align: center;">SHOP
                                                            VANILLA CHAI</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider-wrap">
                            <div style="height: 25px;" class="divider"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fws_592fc2aded93e" data-midnight="dark" data-bg-mobile-hidden=""
                 class="wpb_row vc_row-fluid vc_row standard_section   "
                 style="padding-top: 0px; padding-bottom: 0px; ">
                <div class="row-bg-wrap">
                    <div class="row-bg    " style="" data-color_overlay="" data-color_overlay_2=""
                         data-gradient_direction="" data-overlay_strength="0.3" data-enable_gradient="false"></div>
                </div>
                <div class="col span_12 dark left">
                    <div class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding"
                         data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color=""
                         data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation=""
                         data-delay="0">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="divider-wrap">
                                    <div style="height: 25px;" class="divider"></div>
                                </div>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <h6 style="text-align: center;"><span class="ez-toc-section"
                                                                              id="HEALTH_BENEFITS"><span
                                                        style="color: #1f9c97;">HEALTH BENEFITS</span></span></h6>
                                    </div>
                                </div>
                                <div class="divider-wrap">
                                    <div style="height: 25px;" class="divider"></div>
                                </div>
                                <div id="fws_592fc2adee34b" data-midnight="" data-bg-mobile-hidden=""
                                     class="wpb_row vc_row-fluid vc_row standard_section   "
                                     style="padding-top: 0px; padding-bottom: 0px; ">
                                    <div class="row-bg-wrap">
                                        <div class="row-bg   " style=""></div>
                                    </div>
                                    <div class="col span_12  left">
                                        <div class="vc_col-sm-2 wpb_column column_container vc_column_container col no-extra-padding"
                                             data-bg-cover="" data-padding-pos="all" data-has-bg-color="false"
                                             data-bg-color="" data-bg-opacity="1" data-hover-bg=""
                                             data-hover-bg-opacity="1" data-animation="" data-delay="0">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p><img class="aligncenter wp-image-15273"
                                                                    src="{{ 'light-bulb-copy.png' | asset_url }}"
                                                                    width="100" height="100"
                                                                    srcset="{{ 'light-bulb-copy.png' | asset_url }} 300w, {{ 'light-bulb-copy.png' | asset_url }} 150w, {{ 'light-bulb-copy.png' | asset_url }} 50w, {{ 'light-bulb-copy.png' | asset_url }} 100w, {{ 'light-bulb-copy.png' | asset_url }} 500w, {{ 'light-bulb-copy.png' | asset_url }} 130w, {{ 'light-bulb-copy.png' | asset_url }} 512w"
                                                                    sizes="(max-width: 100px) 100vw, 100px"/></p>
                                                        </div>
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p style="text-align: center;"><strong>IMPROVES
                                                                    COGNITION</strong></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vc_col-sm-2 wpb_column column_container vc_column_container col no-extra-padding"
                                             data-bg-cover="" data-padding-pos="all" data-has-bg-color="false"
                                             data-bg-color="" data-bg-opacity="1" data-hover-bg=""
                                             data-hover-bg-opacity="1" data-animation="" data-delay="0">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p><img class="aligncenter wp-image-15274"
                                                                    src="{{ 'renewable-energy-copy.png' | asset_url }}"
                                                                    width="100" height="100"
                                                                    srcset="{{ 'renewable-energy-copy.png' | asset_url }} 300w, {{ 'renewable-energy-copy.png' | asset_url }} 150w, {{ 'renewable-energy-copy.png' | asset_url }} 50w, {{ 'renewable-energy-copy.png' | asset_url }} 100w, {{ 'renewable-energy-copy.png' | asset_url }} 500w, {{ 'renewable-energy-copy.png' | asset_url }} 130w, {{ 'renewable-energy-copy.png' | asset_url }} 512w"
                                                                    sizes="(max-width: 100px) 100vw, 100px"/></p>
                                                        </div>
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p style="text-align: center;"><strong>BOOSTS
                                                                    ENERGY</strong></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vc_col-sm-2 wpb_column column_container vc_column_container col no-extra-padding"
                                             data-bg-cover="" data-padding-pos="all" data-has-bg-color="false"
                                             data-bg-color="" data-bg-opacity="1" data-hover-bg=""
                                             data-hover-bg-opacity="1" data-animation="" data-delay="0">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p><img class="aligncenter wp-image-15275"
                                                                    src="{{ 'dna-structure-copy.png' | asset_url }}"
                                                                    width="100" height="100"
                                                                    srcset="{{ 'dna-structure-copy.png' | asset_url }} 300w, {{ 'dna-structure-copy.png' | asset_url }} 150w, {{ 'dna-structure-copy.png' | asset_url }} 50w, {{ 'dna-structure-copy.png' | asset_url }} 100w, {{ 'dna-structure-copy.png' | asset_url }} 500w, {{ 'dna-structure-copy.png' | asset_url }} 130w, {{ 'dna-structure-copy.png' | asset_url }} 512w"
                                                                    sizes="(max-width: 100px) 100vw, 100px"/></p>
                                                        </div>
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p style="text-align: center;"><strong>FIGHTS AGING</strong>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vc_col-sm-2 wpb_column column_container vc_column_container col no-extra-padding"
                                             data-bg-cover="" data-padding-pos="all" data-has-bg-color="false"
                                             data-bg-color="" data-bg-opacity="1" data-hover-bg=""
                                             data-hover-bg-opacity="1" data-animation="" data-delay="0">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p><img class="aligncenter wp-image-15276"
                                                                    src="{{ 'stomach-copy.png' | asset_url }}"
                                                                    width="100" height="100"
                                                                    srcset="{{ 'stomach-copy.png' | asset_url }} 300w, {{ 'stomach-copy.png' | asset_url }} 150w,{{ 'stomach-copy.png' | asset_url }} 50w, {{ 'stomach-copy.png' | asset_url }} 100w, {{ 'stomach-copy.png' | asset_url }} 500w, {{ 'stomach-copy.png' | asset_url }} 130w, {{ 'stomach-copy.png' | asset_url }} 512w"
                                                                    sizes="(max-width: 100px) 100vw, 100px"/></p>
                                                        </div>
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p style="text-align: center;"><strong>GOOD FOR THE
                                                                    GUT</strong></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vc_col-sm-2 wpb_column column_container vc_column_container col no-extra-padding"
                                             data-bg-cover="" data-padding-pos="all" data-has-bg-color="false"
                                             data-bg-color="" data-bg-opacity="1" data-hover-bg=""
                                             data-hover-bg-opacity="1" data-animation="" data-delay="0">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p><img class="aligncenter wp-image-15277"
                                                                    src="{{ 'scales-1-copy.png' | asset_url }}"
                                                                    width="100" height="100"
                                                                    srcset="{{ 'scales-1-copy.png' | asset_url }} 300w, {{ 'scales-1-copy.png' | asset_url }} 150w, {{ 'scales-1-copy.png' | asset_url }} 50w, {{ 'scales-1-copy.png' | asset_url }} 100w, {{ 'scales-1-copy.png' | asset_url }} 500w, {{ 'scales-1-copy.png' | asset_url }} 130w, {{ 'scales-1-copy.png' | asset_url }} 512w"
                                                                    sizes="(max-width: 100px) 100vw, 100px"/></p>
                                                        </div>
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p style="text-align: center;"><strong>SUPPORTS WEIGHT
                                                                    LOSS</strong></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vc_col-sm-2 wpb_column column_container vc_column_container col no-extra-padding"
                                             data-bg-cover="" data-padding-pos="all" data-has-bg-color="false"
                                             data-bg-color="" data-bg-opacity="1" data-hover-bg=""
                                             data-hover-bg-opacity="1" data-animation="" data-delay="0">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p><img class="aligncenter wp-image-15278"
                                                                    src="{{ 'arm-copy.png' | asset_url }}" width="100"
                                                                    height="100"
                                                                    srcset="{{ 'arm-copy.png' | asset_url }} 300w, {{ 'arm-copy.png' | asset_url }} 150w, {{ 'arm-copy.png' | asset_url }} 50w, {{ 'arm-copy.png' | asset_url }} 100w, {{ 'arm-copy.png' | asset_url }} 500w, {{ 'arm-copy.png' | asset_url }} 130w, {{ 'arm-copy.png' | asset_url }} 512w"
                                                                    sizes="(max-width: 100px) 100vw, 100px"/></p>
                                                        </div>
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p style="text-align: center;"><strong>BUILDS LEAN
                                                                    MUSCLE</strong></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="divider-wrap">
                                    <div style="height: 25px;" class="divider"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fws_592fc2adf1a0c" data-midnight="dark" data-bg-mobile-hidden=""
                 class="wpb_row vc_row-fluid vc_row standard_section   "
                 style="padding-top: 0px; padding-bottom: 0px; ">
                <div class="row-bg-wrap">
                    <div class="row-bg    " style="" data-color_overlay="" data-color_overlay_2=""
                         data-gradient_direction="" data-overlay_strength="0.3" data-enable_gradient="false"></div>
                </div>
                <div class="col span_12 dark left">
                    <div class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding"
                         data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color=""
                         data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation=""
                         data-delay="0">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p style="text-align: center;">
                                            <iframe src="https://www.youtube.com/embed/YfdJ8zLfCZg?rel=0&amp;controls=0&amp;showinfo=0"
                                                    width="560" height="315" frameborder="0"
                                                    allowfullscreen="allowfullscreen"></iframe>
                                        </p>
                                    </div>
                                </div>
                                <div class="divider-wrap">
                                    <div style="height: 25px;" class="divider"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fws_592fc2adf236b" data-midnight="dark" data-bg-mobile-hidden=""
                 class="wpb_row vc_row-fluid vc_row standard_section   "
                 style="padding-top: 0px; padding-bottom: 0px; ">
                <div class="row-bg-wrap">
                    <div class="row-bg    " style="" data-color_overlay="" data-color_overlay_2=""
                         data-gradient_direction="" data-overlay_strength="0.3" data-enable_gradient="false"></div>
                </div>
                <div class="col span_12 dark left">
                    <div class="vc_col-sm-12 wpb_column column_container vc_column_container col centered-text no-extra-padding"
                         data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color=""
                         data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation=""
                         data-delay="0">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <p style="text-align: center;">
                                    <a href="https://lyfefuel-main.myshopify.com/products/daily-essentials-shake-chocolate"
                                       style="font-weight: 600; color: #fff; background-color: #42241d; border: 5px solid #42241d; border-radius: 3px; margin-right: 20px; padding: 10px 20px; font-weight: bold; font-size: 18px; text-align: center;">SHOP
                                        CHOCOLATE</a> <a
                                            href="https://lyfefuel-main.myshopify.com/products/daily-essentials-shake-vanilla-chai"
                                            style="font-weight: 600; color: #fff; background-color: #e6c69c; border: 5px solid #e6c69c; border-radius: 3px; padding: 10px 20px; font-weight: bold; font-size: 18px; text-align: center;">SHOP
                                        VANILLA CHAI</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .slotholder {
        transform: none !important;
    }
</style>