<div class="container-wrap">
    <div class="container main-content">
        <div class="row">
            <div id="fws_592d2ae08b949" data-midnight="light" data-bg-mobile-hidden=""
                 class="wpb_row vc_row-fluid vc_row full-width-section standard_section   "
                 style="padding-top: 0px; padding-bottom: 0px; ">
                <div class="row-bg-wrap">
                    <div class="row-bg  using-bg-color  " data-color_overlay="" data-color_overlay_2=""
                         data-gradient_direction="" data-overlay_strength="0.3" data-enable_gradient="false"></div>
                </div>
                <div class="col span_12 light center">
                    <div class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding"
                         data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color=""
                         data-bg-opacity="1"
                         data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="divider-wrap">
                                    <div style="height: 25px;" class="divider"></div>
                                </div>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <h6 style="text-align: center; color: #43484d; font-weight: 600;"><span
                                                    class="ez-toc-section" id="LYFE_EXPERIENCES"><span
                                                        style="color: #43484d;">LYFE EXPERIENCES</span></span>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fws_592d2ae08c2c7" data-midnight="dark" data-bg-mobile-hidden=""
                 class="wpb_row vc_row-fluid vc_row full-width-section  vc_row-o-equal-height vc_row-flex  vc_row-o-content-middle standard_section   "
                 data-using-ctc="true" style="padding-top: 0px; padding-bottom: 0px; color: #ffffff; ">
                <div class="row-bg-wrap">
                    <div class="row-bg  using-bg-color  " style="background-color: white; " data-color_overlay=""
                         data-color_overlay_2="" data-gradient_direction="" data-overlay_strength="0.3"
                         data-enable_gradient="false"></div>
                </div>
                <div class="col span_12 custom left">
                    <div style=""
                         class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding"
                         data-using-bg="true" data-bg-cover="" data-padding-pos="all" data-has-bg-color="true"
                         data-bg-color="#fff" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1"
                         data-animation="" data-delay="0">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="carousel-wrap" data-full-width="false">
                                    <div class="carousel-heading">
                                        <div class="container">
                                            <h2 class="uppercase"></h2>
                                            <!--<div class="control-wrap">
                                            <a class="carousel-prev" href="#"><i class="icon-angle-left"></i></a>
                                            <a class="carousel-next" href="#"><i class="icon-angle-right"></i></a>
                                            </div>-->
                                        </div>
                                    </div>
                                    <ul class="row carousel" data-scroll-speed="medium" data-easing="linear"
                                        data-autorotate="">
                                        <li class="col span_4">
                                            <div class="nectar-fancy-box" data-color="accent-color">
                                                <div class="inner" style="min-height: 300px">
                                                    <p style="text-align: center;"><span style="font-weight: 400;">When offseason rolls around I&#8217;m always looking for the edge. It&#8217;s a time to relax, reflect, and get my body back and ready for the upcoming season.  Resetting my body with LYFE FUEL opened my eyes to how proper nutrition can positively impact physical and mental health.</span>
                                                    </p>
                                                    <p style="text-align: center;"><span style="font-weight: 400;"><img
                                                                    class="aligncenter wp-image-14927 size-thumbnail"
                                                                    src="{{ 'Nick-Rimando.png' | file_url }}"
                                                                    width="150" height="150"
                                                                    srcset="{{ 'Nick-Rimando.png' | file_url }} 150w, {{ 'Nick-Rimando.png' | file_url }} 50w, {{ 'Nick-Rimando.png' | file_url }} 100w, {{ 'Nick-Rimando.png' | file_url }} 130w, {{ 'Nick-Rimando.png' | file_url }} 409w"
                                                                    sizes="(max-width: 150px) 100vw, 150px"/><strong>NICK RIMANDO, </strong></span><em><span
                                                                    style="font-weight: 400;">Team USA Goalie</span></em>
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col span_4">
                                            <div class="nectar-fancy-box" data-color="accent-color">
                                                <div class="inner" style="min-height: 406px">
                                                    <p style="text-align: center;"><span style="font-weight: 400;">As a Pilates teacher, I get up super early and rarely have time to eat, but I need enough nutritional punch to be at my best with clients. LYFE FUEL provides me the energy I need to get me through the day, tastes fantastic, and is easy to mix as I’m rushing out the door.</span>
                                                    </p>
                                                    <p style="text-align: center;"><span style="font-weight: 400;"><img
                                                                    class="aligncenter wp-image-2926 size-thumbnail"
                                                                    src="{{ 'IMG_1003.png' | asset_url }}" width="150"
                                                                    height="150"
                                                                    srcset="{{ 'IMG_1003.png' | asset_url }} 150w, {{ 'IMG_1003.png' | asset_url }} 300w, {{ 'IMG_1003.png' | asset_url }} 768w, {{ 'IMG_1003.png' | v }} 50w, {{ 'IMG_1003.png' | asset_url }} 100w, {{ 'IMG_1003.png' | asset_url }} 500w, {{ 'IMG_1003.png' | asset_url }} 130w, {{ 'IMG_1003.png' | asset_url }} 999w"
                                                                    sizes="(max-width: 150px) 100vw, 150px"/><strong>HEATHER DORAK, </strong></span><em><span
                                                                    style="font-weight: 400;">Pilates Founder</span></em>
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col span_4">
                                            <div class="nectar-fancy-box" data-color="accent-color">
                                                <div class="inner" style="min-height: 406px">
                                                    <p style="text-align: center;"><span style="font-weight: 400;">Integrating LYFE FUEL into my daily routine has made a big impact on my training and recovery.  By cleaning up my diet and using their products, I have seen significant improvement in my times and the way my body feels after training. Loving LYFE! </span>
                                                    </p>
                                                    <p style="text-align: center;"><img
                                                                class="aligncenter wp-image-14930 size-thumbnail"
                                                                src="{{ 'Richard-Schwartz.png' | file_url }}"
                                                                width="150" height="150"
                                                                srcset="{{ 'Richard-Schwartz.png' | file_url }} 150w, {{ 'Richard-Schwartz.png' | file_url }} 50w, {{ 'Richard-Schwartz.png' | file_url }} 100w, {{ 'Richard-Schwartz.png' | file_url }} 130w, {{ 'Richard-Schwartz.png' | file_url }} 409w"
                                                                sizes="(max-width: 150px) 100vw, 150px"/><b>RICHARD
                                                            SCHWARTZ, </b><em><span style="font-weight: 400;">Iron Man Triathlete</span></em>
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="divider-wrap">
                                    <div style="height: 25px;" class="divider"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #fws_592d2ae08c2c7 .nectar-fancy-box .inner * {
        color: #5b5f63;
    }
</style>